<div id="card" class="w-full  h-36 rounded-lg mb-4 drop-shadow-md z-0 flex flex-col" [ngClass]="{
  'dark-mode': (darkMode$ | async),
  'light-mode': !(darkMode$ | async)
}">
  <div class="flex-1 flex">
    <div class="flex-1 flex">
      <p class="m-auto">#{{invoice?.code}}</p>
    </div>
    <div class="flex-1 flex">
      <p class="m-auto">{{invoice?.who}}</p>
    </div>
  </div>
  <div class="flex-1 flex">
    <div class="flex-1 flex flex-col">
      <p class="m-auto">Due {{invoice?.due}}</p>
      <p class="m-auto">£ {{invoice?.price}}</p>
    </div>
    <div class="flex-1 flex pt-3 pb-3 relative">
      <p id="status" class="absolute left-1/2 pt-3 pb-3 top-1/2 font-medium"  [ngClass]="{
        'paid-text':  invoice?.status=='Paid',
        'draft-text-dark' : invoice?.status=='Draft' && (darkMode$ | async),
        'draft-text-ligth' : invoice?.status=='Draft' && !(darkMode$ | async),
        'pending-text' : invoice?.status=='Pending'
      }">{{invoice?.status}}</p>
      <div class="h-full  m-auto rounded-lg opacity-10 w-28 flex relative" [ngClass]="{
        'paid':  invoice?.status=='Paid',
        'draft-dark' : invoice?.status=='Draft' && (darkMode$ | async),
        'draft-ligth' : invoice?.status=='Draft' && !(darkMode$ | async),
        'pending' : invoice?.status=='Pending'
      }">
      </div>
    </div>
  </div>
</div>
