#sidenav:not(.dark-mode-preloading) {
  transition: background-color 0.3s linear;
}

#sidenav.dark-mode{
  background-color: #1E2139;
}

#sidenav.light-mode{
  background-color: #373B53;
}


.grey{
  color: rgb(133,139,178);
}
