
<div class="ml-6 mr-6 pt-28 pb-2 lg:ml-96 lg:mr-96 md:ml-12 md:mr-12">
  <app-menu-header ></app-menu-header >

    <div>
      <app-invoice-card [invoice]="a" *ngFor="let a of invoices$ | async"></app-invoice-card>
    </div>
    <div *ngIf="(invoices$ | async)?.length == 0" class=" h-60 lg:h-80">
      <img src="assets/illustration-empty.svg" class="h-full m-auto"/>
      <h2 class="text-center font-spartan font-bold text-3xl pt-4">There is nothing here</h2>
      <h3 class="font-spartan text-xl text-center pt-3">Create an invoice by clicking the
        New button and get started</h3>
    </div>
</div>
